* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f9f9f9;
	color: #141414;
	position: relative;
	height: 690px;
}

h1 {
	font-family: 'Satisfy', cursive;
	color: #f7e05d;
	text-shadow: 0 0 5px black;
	font-size: 1.9em;
}

#maincontainer {
	margin: 30px auto;
	width: 640px;
	height: 640px;
	text-align: center;
	background: red;
	border-radius: 20px;
	box-shadow: 0 0 3px 1px black;
}

#gridcontainer {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	width: 512px;
	height: 512px;
	background: white;
	box-shadow: 0 0 5px 1px black inset;
	/* border: 1px #141414; */
}

#top {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
}

#bottombuttons {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
	height: 59px;
}

button {
	font-family: 'Satisfy', cursive;
	font-size: 1.2em;
	background: red;
	color: #ffe88e;
	text-shadow: 0 0 2px black;
	border: none;
	transition: background 200ms ease-in-out, box-shadow 200ms ease-in;
}

button:hover {
	cursor: pointer;
}

button:focus, button:active {
	outline: none;
}

button.focused {
	background: #e80000;
	outline: none;
	cursor: pointer;
	box-shadow: 0 0 2px 1px #870000 inset;
}

button#header {
	width: 52%;
	padding: 8px 12px;
}

button#hover, button#drag {
	width: 24%;
	font-size: 1.4em;
}

button#clear, button#default, button#colorized, button#resize {
	width: 19%;
}

button#transparent {
	width: 28%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
}

footer > p {
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	line-height: 20px;
}

#codedby {
	position: relative;
	float: left;
	width: 16.5%;
	text-align: center;
}

#visitme {
	position: relative;
	float: right;
	width: 11.5%;
	color: #141414;
	text-align: center;
}

p > a {
	text-decoration: none;
	color: #141414;
}

a:hover {
	font-weight: 500;
}